html(lang='en', ng-app='myBlogApp')
    head
        title=title
        link(href='/public/css/style.css', rel='stylesheet')
        meta(charset='utf8')
        base(href='/')
        if (title)
               meta(name='description', content=title)
           else
               meta(name='description', content='My NODE.js BLOG')
        script(src='/public/js/jquery-2.2.4.js')
        script(src='/public/js/bootstrap.min.js')
        script(src='/public/js/three.js')
        script(src='/public/js/OrbitControls.js')
        script(src='/public/js/dat.gui.js')
        script(src='/public/js/SceneExporter.js')
        script(src='http://threejs.org/examples/js/loaders/OBJLoader.js')
        script(src='/public/js/OBJExporter.js')
        script(src='/public/js/SceneLoader.js')
        script(src='/public/js/Projector.js')
        script(src='/public/js/script.js')

  body
   .container
